.hidden {
  display: none;
}

.account_content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 0 15px;
  font-family: "Kulim Park", sans-serif;
}

.login_img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-gifts {
  font-size: 100px;
}

.btn {
  border: none;
  color: white;
  background-color: var(--secondary_color);
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  width: 80vw;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #1c55a4;
  transition: all 0.3s;
}

.welcome_msg {
  margin: 10px;
  font-weight: bold;
}

.logout_btn {
  width: 20vw;
  font-size: 12px;
  padding: 8px;
}
