:root {
  --primary_color: #111827;
  --secondary_color: #2060b9;
}

.hide_popup {
  display: none;
}

.rewardia_popup {
  color: white;
  min-width: 340px;
  max-width: 340px;
  max-width: 371px;
  max-height: 371px;
  background: linear-gradient(135deg, #2b52a6 0%, #8bd0ff 100%);
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999999;
  border-radius: 16px;
  font-family: "Kulim Park", sans-serif;
  font-size: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.popup_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.popup_logo {
  font-weight: 700;
}

.popup_center_img {
  width: 200px;
  align-self: center;
}

.popup_center_img img {
  width: 200px;
}

.popup_close_btn {
  cursor: pointer;
}

.popup_text {
  margin-bottom: 20px;
  text-align: center;
}

.popup_text button {
  font-size: 14px;
}

.popup_btn {
  border: none;
  color: white;
  background-color: var(--primary_color);
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s;
  padding: 10px;
  min-width: 250px;
}

.popup_btn:hover {
  background-color: #1c55a4;
  transition: all 0.3s;
}
