:root {
  --primary_color: #111827;
  --secondary_color: #2060b9;
}

.hide_popup {
  display: none;
}

.rewardia_popup {
  color: white;
  min-width: 300px;
  max-width: 300px;
  max-height: 60px;
  background: linear-gradient(135deg, #2b52a6 0%, #8bd0ff 100%);
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999999;
  border-radius: 16px;
  font-family: "Kulim Park", sans-serif;
  font-size: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.rewardia_popup:hover {
  background: linear-gradient(135deg, #24458d 0%, #74aed6 100%);
  cursor: pointer;
}

.popup_logo {
  width: 40px;
}

.popup_text {
  font-size: 14px;
  margin-left: 10px;
}

.popup_close_btn {
  font-size: 10px;
}
